/* Font Family */

/* mobile */
@media only screen and (max-width: 768px) {
    .ratePage, .thankPage {
        width: 100%;
        position: fixed;
        top: 220px;
        left: 25px;
    }
    
}

body {
    background-color: hsl(206, 21%, 6%);
    font-family: "Overpass", sans-serif;
    font-size: 15px;
}

.container {
    display: grid;
    align-content: center;
    justify-items: center;
}

.ratePage, .thankPage {
    background-color: hsl(216, 12%, 8%);
    border: 1px solid hsl(216, 12%, 8%);
    border-radius: 16px;
    width: 70%;
    margin: 32px auto;
    padding: 26px;
    display: grid;
    gap: 18px;
}

.star {
    background-color: hsl(213, 19%, 18%);
    padding: 12px;
    border: 1 solid hsl(214, 68%, 7%);
    border-radius: 50%;
}

.question, .thankMsg {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 30px;
}

.feedback, .appreciate {
    color: hsl(217, 12%, 63%);
}

.ratings {
    display: flex;
    justify-content: space-evenly;
}

.ratings > * {
    background-color: hsl(213, 19%, 18%);
    padding: 8px;
    border: 1 solid hsl(213, 19%, 18%);
    border-radius: 50%;
    color: hsl(217, 12%, 63%);
    width: 20px;
    text-align: center;
}

.submit {
    background-color: hsl(25, 97%, 53%);
    padding: 12px;
    border: 1 solid hsl(25, 97%, 53%);
    border-radius: 40px;
    color: white;
    text-align: center;
}

.ratePage {
    /* display: none; */
}

.thankPage {
    display: none;
    justify-items: center;
}

.selectMsg {
    color: hsl(25, 97%, 53%);
    background-color: hsl(213, 19%, 18%);
    border: 1px solid hsl(213, 19%, 18%);
    border-radius: 15px;
    text-align: center;
    padding: 12px;
}

.appreciate {
    text-align: center;
}

.attribution {
    color: white;
    position: absolute;
    bottom: 0;
}